<div class="page-header"><h4><%= message %></h4></div>
<div class="form-section">
    <form action="/" method="GET">
        <input type="text" name="title" class="form-input" value="<%= searchOptions.title %>">
        <button class="btn-primary add-todo-btn" type="submit">Search</button>
    </form>
</div>
<a class="btn-primary add-todo-btn" href="/todo/new">Add todo</a>
<div class="todo-section">
    <% todos.forEach(todo => { %>
        <div class="todo-row">
            <div class="title-container">
                <li>   
                    <% if (todo.title) { %>
                        <% if (todo.title.length >= 18) { %>
                            <% let charArray = todo.title.split('') %> 
                            <% let shownTextArray = charArray.slice(0, 15) %> 
                            <% let shownText = shownTextArray.join('') + ' . . .' %>
                            <%= shownText %>
                        <% } else { %>
                            <%= todo.title %>
                        <% } %> 
                    <% } else { %>
                        <% if (todo.description.length >= 18) { %>
                            <% let charArray = todo.description.split('') %> 
                            <% let shownTextArray = charArray.slice(0, 15) %> 
                            <% let shownText = shownTextArray.join('') + ' . . .' %>
                            <%= shownText %>
                        <% } else { %>
                            <%= todo.description %>
                        <% } %>
                    <% } %>       
                </li>
            </div>
            <div class="view-delete-btn-container">
                <a class="btn-primary" href="/todo/<%= todo.id %>">View</a>
                <%- include("./partials/deleteForm", {url: `/todo/${todo.id}`}) %>
            </div>
        </div>
    <% }) %>
</div>