<h2>Welcome</h2>
<form action="/" method="GET">
    <input type="text" name="title" placeholder="todo title" value="<%= searchOptions.title %>">
    <button type="submit">Search</button>
</form>
<br>
<%- include("./partials/errorMessage.ejs") %>
<br>
<div>
    <% todos.forEach(todo => { %>
        <h4>
            <li><%= todo.title %> </li>
            <a href="/todo/<%= todo.id %>">View</a>
            <%- include("./partials/deleteForm", {url: `/todo/${todo.id}`}) %>  
        </h4>
    <% }) %>
</div>
<a href="/todo/new">Add todo</a>